{% extends "base.jinja2" %}
{% block body %}

<article id="title={{ entry.id }}">
  <h1 class="headingLink">{{ entry.title }}</h1>
  <p><small>{{ entry.created.strftime('%b. %d, %Y') }}</small>
  <div>
    {{ entry.text|markdown|safe }}
    </br></br>
    <hr class="titleDivider">
  </div>
</article>
{% if request.authenticated_userid %}
<a href="/edit/{{ entry.id }}">Edit this entry</a>
{% endif %}
{% endblock %}