{% extends "base.jinja2" %}
{% block body %}
{% for entry in entries %}

<article id="title={{ entry.id }}">
  <h1 class="headingLink">{{ entry.title }}</h1>
  <p><small>{{ entry.created.strftime('%b. %d, %Y') }}</small>
  <div>
    {{ entry.text|safe }}
    </br></br>
    <hr class="titleDivider">
  </div>
</article>
{% endfor %}
{% endblock %}